@model IEnumerable<MVCIdentityBookRecords.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                Authors
            </th>
            <th>
                Categories
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @foreach (var author in item.Authors)
                {
                    var au =  author.Firstname + " " + author.Lastname + ", ";
                    @au
                }
            </td>
            <td>
                @foreach (var category in item.Categories)
                {
                    var ca = category.CategoryName + ", ";
                    @ca
                }
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.BookId">Edit</a> 
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.BookId">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
               
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <form class="" method="post" asp-action="ManageUserBookRelationship">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="@item.BookId" name="BookId"/>
                                <input type="hidden" name="UserId" asp-for="@SignedInUser.Value" />
                                <input type="hidden" name="ActionType" value="Add"/>
                                <input type="submit"  action="ManageUserBookRelationship" value="Add To @User.Identity.Name" class="btn btn-outline-secondary" />
                            </form>
                        }
                }
            </td>
        </tr>
}
    </tbody>
</table>
@*@if (User.Identity.IsAuthenticated)
{
    <table class="table table-sm">
        @foreach ( var claim in User.Claims ) {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
    </table>
}*@